{% extends 'base.html' %}

{% block body_block %}
    <h1 class="title">Welcome to the landing page!</h1>

    <div class="content">
        <h3>This is where we do all kinds of cool things!</h3><br>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque velit et in quisquam voluptatem beatae modi, earum, eveniet repudiandae eius placeat perferendis! Ipsa exercitationem earum necessitatibus nulla. At, assumenda placeat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat odit praesentium, unde voluptas sapiente odio doloribus delectus nulla placeat veritatis quisquam vero earum necessitatibus ullam animi eum corporis architecto veniam!</p>
    </div>
{% endblock %}